<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Turn your Instagram pictures into a virtual museum in one click. Walk into your photo gallery in VR.">
    <meta name="author" content="">

    <meta name="twitter:card" content="summary" />
    <meta property="twitter:url" content="http://www.instamuseum.com" />
    <meta property="twitter:image" content="{{ url_for('static', filename='instamuseum/img/thumbnail.jpg') }}" />


    <meta property="og:title" content="Instamuseum: Turn Your Instagram Pictures into a Virtual Museum"/>
    <meta property="og:image" content="{{ url_for('static', filename='instamuseum/img/thumbnail.jpg') }}"/>
    <meta property="og:site_name" content="Instamuseum"/>
    <meta property="og:description" content="Turn your Instagram pictures into a virtual museum in one click. Walk into your photo gallery in VR."/>


    <title>Instamuseum: Turn Your Instagram Pictures into a Virtual Museum</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='instamuseum/css/bootstrap.min.css') }}" type="text/css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='instamuseum/img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='instamuseum/img/favicon.ico') }}" type="image/x-icon">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='instamuseum/font-awesome/css/font-awesome.min.css') }}" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='instamuseum/css/animate.min.css') }}" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='instamuseum/css/creative.css') }}" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="http://www.instamuseum.com">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" target="_blank" href="https://sketchfab.com/developers">API</a>
                    </li>
                    <li>
                        <a class="page-scroll" target="_blank" href="https://sketchfab.com">Go to Sketchfab</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 style="font-size: 60px;"><img src="{{ url_for('static', filename='instamuseum/img/favicon.ico') }}" style="height:100px"/>Instamuseum</h1>
                <hr>
              <div>
                <p>Turn your Instagram pictures into a virtual museum</p>
              </div>
                <a href="#start" class="btn btn-primary btn-xl page-scroll">Get Started</a>
            </div>
        </div>
    </header>

<section id="start">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Create your own VR gallery</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

                    <div class="panel panel-default">
      <div class="panel-body form-group">

          <h4>Choose any Instagram account</h4>
<label class="form-prefixed-input">
                        <div class="prefix">instagram.com/</div>
                        <input type="text" class="sketchfab-connect-watch" id="instagram_username" value="{{ request.args.get('instagram_username', '') }}" />
</label>

          <br/>
         <h4>Select a layout</h4>
          <select id="imgfab_layout" class="form-control" class="sketchfab-connect-watch">
            <option {% if request.args.get('imgfab_layout') == "louvre" %}selected='selected'{% endif %} value="louvre">Louvre room (Max: 12 photos)</option>
            <option {% if request.args.get('imgfab_layout') == "artgallery" %}selected='selected'{% endif %} value="artgallery">Art gallery (Max: 12 photos)</option>
            <option {% if request.args.get('imgfab_layout') == "wall" %}selected='selected'{% endif %} value="wall">Wall (Max: 3 x 30 photos)</option>
            <option {% if request.args.get('imgfab_layout') == "cube" %}selected='selected'{% endif %} value="cube">Cube (Max: 6 photos)</option>

          </select>
          <br/><br/>

          {% if user.username %}

            <button id="go_create" class="btn btn-primary btn-xl">Create VR Gallery!</button>

          {% else %}

              <!-- If we are not yet logged into sketchfab, login first then come back here and auto-start the gallery -->

              <a class="btn btn-primary btn-xl sketchfab-connect-button" href="{{ url_for("social.auth", backend="sketchfab") }}?next=/%3Fcreate%3D1">Create VR Gallery!</a>

          {% endif %}

          <br/><br/>

          <div id="model_loading" style="display:none;" class="alert alert-info" role="alert">
            VR gallery is being created, please wait... This will take a few minutes.
            <br/><br/><div class="model_loading_status"></div>
          </div>
          <div id="model_link" style="display:none;" class="alert alert-success" role="alert">
            Congrats! Your VR gallery is available here:<br/> <a target="_blank" href="" class="model_link_a"></a>
            <br/><br/><div class="model_share"></div>
          </div>

          {% for assoc in backends.associated %}
              <form method="post" action="{{ url_for("social.disconnect", backend=assoc.provider, association_id=assoc.id) }}?next=/logout">
                <button class="btn btn-default btn-xs">Disconnect from {{ assoc.provider }}</button>
              </form>
          {% endfor %}

      </div></div>


            <div id="model_embed"></div>
            <div class="model_share"></div>

                    <!-- END SKFB TOOL-->
                </div>
            </div>
 <center>
 <a href="https://twitter.com/share" class="twitter-share-button" data-via="Sketchfab" data-size="medium" data-related="Sketchfab">Tweet</a>
 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
&nbsp; <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.instamuseum.com&width=50&layout=button&action=like&show_faces=false&share=false&height=20&appId=272479259760201" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
&nbsp; <a class="github-button" href="https://github.com/sylvinus/imgfab" aria-label="Fork sylvinus/imgfab on GitHub">GitHub</a>
</center>
<h4 style="text-align:center; text-decoration:underline;"><a href="https://help.sketchfab.com/hc/en-us/articles/204777439-Virtual-Reality-VR-" target="_blank" style="color: #848484;">How to view your gallery in VR</a></h4>
</div>
    </section>

 <section id="portfolio">
	 <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Some examples:</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4" style="text-align: center;">
                    <iframe width="90%" height="300" src="https://sketchfab.com/models/1818b9668c6d4da9b50bc83e45725311/embed" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
                    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
    <a href="https://sketchfab.com/models/1818b9668c6d4da9b50bc83e45725311?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Instamuseum for @nineinchnails</a>
    by <a href="https://sketchfab.com/sylvinus?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">sylvinus</a>
    on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
</p>
                </div>
                <div class="col-lg-4" style="text-align: center;">
                        <iframe width="90%" height="300" src="https://sketchfab.com/models/4ec077a7d6ce4f70a20bea15c17dc037/embed" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
                        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
    <a href="https://sketchfab.com/models/4ec077a7d6ce4f70a20bea15c17dc037?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Instamuseum for @albandenoyel</a>
    by <a href="https://sketchfab.com/alban?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">alban</a>
    on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
</p>

                </div>
                <div class="col-lg-4" style="text-align: center;">
                    <iframe width="90%" height="300" src="https://sketchfab.com/models/0bc0dc5c4fc74e6f8795d68388ecec5a/embed" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
                    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
        <a href="https://sketchfab.com/models/0bc0dc5c4fc74e6f8795d68388ecec5a?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Wall for @guillermosainz</a>
    by <a href="https://sketchfab.com/guillermosainz?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">guillermosainz</a>
    on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
</p>

                </div>
            </div>
        </div>
    </section>
<section id="more" style="padding: 0px 0px 20px 0px;">
	 <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading"><a href="https://sketchfab.com/tags/instamuseum" target="_blank">View more virtual museums</a></h4>
                    <hr class="secondary">
                </div>
            </div>
        </div>
    </section>
    <section id="about" style="background: #edf0f2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>How it works</h3>
                        <p class="text-muted">We use <a href="http://blender.org/" target="_blank">Blender</a> to generate dynamic 3D models and upload them with the <a href="https://sketchfab.com/developers" target="_blank">Sketchfab API</a>.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cloud-download wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Make it your own</h3>
                        <p class="text-muted">Full source is available on <a href="http://github.com/sylvinus/imgfab" target="_blank">GitHub</a>. Feel free to fork it and create your own crazy 3D models!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-thumbs-o-up wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Feedback?</h3>
                        <p class="text-muted">We have a rough <a href="https://github.com/sylvinus/imgfab#todo" target="_blank">TODO list</a> but we'd love to hear your ideas! Feel free to <a href="https://github.com/sylvinus/imgfab/issues" target="_blank">open an issue</a> on GitHub or post in <a href="https://forum.sketchfab.com/" target="_blank">forum.sketchfab.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Using the Sketchfab API is super simple.</h2>
                    <hr class="primary">
                    <p>Ready to create 3D models with your web app? Great! <br />Check the documentation and give it a try.</p>
                </div>

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p><a href="https://sketchfab.com/developers" target="_blank"><i class="fa fa-file-o fa-3x wow bounceIn" data-wow-delay=".1s"></i><br />
                    sketchfab.com/developers</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='instamuseum/js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='instamuseum/js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='instamuseum/js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='instamuseum/js/jquery.fittext.js') }}"></script>
    <script src="{{ url_for('static', filename='instamuseum/js/wow.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='instamuseum/js/creative.js') }}"></script>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

<script>

    {% if user.username and request.args.get('create') == "1" %}
        create_gallery();
    {% endif %}

</script>


<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-59790235-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>
