{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/google.html" as google %}

{% block content %}
<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h1>imgfab</h1>
      <h2>Create amazing 3D photo galleries on <a href="http://sketchfab.com" target="_blank">Sketchfab</a>!</h2>

      <br/>

      <div class="alert alert-warning" role="alert">
        imgfab is waiting for Facebook to approve our app. Please wait a few days before we launch! If you want to be a tester or if you have some feedback, contact us at <a href="mailto:contact@imgfab.io">contact@imgfab.io</a>
      </div>

      <br/><br/>


      <div class="panel panel-default">
      <div class="panel-body">

        {% if user.username %}
          <p>Welcome {{ user.first_name }}!</p>
          <h4>2) Choose an album</h4>
          <select id="facebook_albums"><option value="">Loading...</option></select>

          <br/><br/>
          <h4>3) Choose a layout</h4>
          <select id="imgfab_layout">
            <option value="wall">Wall (Max: 3 x 30 photos)</option>
            <option value="cube">Cube (Max: 6 photos)</option>
          </select>
          <br/><br/>

          <button id="go_create" class="btn btn-primary">Create 3D Gallery!</button>

          <br/><br/>

          <div id="model_loading" style="display:none;" class="alert alert-info" role="alert">
            3D gallery is being created, please wait ... This might take a few minutes.
          </div>
          <div id="model_link" style="display:none;" class="alert alert-success" role="alert">
            Congrats! Your 3D gallery is available here:<br/> <a target="_blank" href="" class="model_link_a"></a>
          </div>

        {% else %}

        <h4>1) Choose a source for your photos</h4>
        <a class="btn btn-primary" href="{{ url_for("social.auth", backend="facebook") }}?next=/">Import from Facebook</a> <br />

        {% endif %}

      </div></div>

      <br/><br/>

      <h3>About imgfab</h3>
      <p><a href="http://imgfab.io">imgfab</a> is a weekend project by <a href="http://twitter.com/sylvinus">Sylvain Zimmer</a> to experiment with the <a href="https://sketchfab.com/developers">Sketchfab API</a> and the dynamic generation of 3D models with <a href="http://blender.org">Blender</a>.</p>
      <p>Full source is available on <a href="http://github.com/sylvinus/imgfab">GitHub</a>, feel free to fork it and create your own crazy 3D models!</p>

      <h3>Meta-gallery</h3>

      <iframe width="100%" height="300" src="https://sketchfab.com/models/e7f6da7583d84f2d8604fd4b633a9635/embed" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

      <h3>Feedback?</h3>

      <p>We have a rough <a href="https://github.com/sylvinus/imgfab#todo">TODO list</a> but we'd love to hear your ideas! Contact us at <a href="mailto:contact@imgfab.io">contact@imgfab.io</a></p>

      <h3>Privacy policy</h3>
      <p>We don't store your photos. You can safely disconnect after creating your gallery.</p>
      {% for assoc in backends.associated %}
          <form method="post" action="{{ url_for("social.disconnect", backend=assoc.provider, association_id=assoc.id) }}?next=/logout">
            <button class="btn btn-default btn-xs">Disconnect from {{ assoc.provider }}</button>
          </form>
      {% endfor %}
    </div>
  </div>
</div>

<a href="https://github.com/sylvinus/imgfab" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
<br/><br/><br/><br/>
{% endblock %}


{% block head %}

{{super()}}
{{fixes.ie8()}}

<style>
  h1 {
    font-size:70px;
  }
  h2 {
    margin-top:0;
    font-size:20px;
  }
</style>

{% endblock %}



{% block scripts %}
{{super()}}


<script>
  $(function() {


    {% if user.username %}

        $.getJSON("/data/facebook/albums", {}, function(data) {

          var options = [];

          for (var i=0; i<data.length; i++) {
            var album = data[i];
            options.push("<option value='"+album.id+"'>"+album.name+"</option>");
          }
          $("#facebook_albums").html(options.join(""));
        });

        $("#go_create").on("click", function() {

          $("#model_link").hide();
          $("#model_loading").show();

          $.ajax({
            url: "/create_job",
            data: {
              "path": "process.Create3dGallery",
              "params": JSON.stringify({
                "source_name": "FacebookAlbum",
                "source_data": {
                  "album": $("#facebook_albums").val()
                },
                "layout": $("#imgfab_layout").val()
              })
            },
            method:"POST",
            dataType: "json",
            success: function(data) {
              var job_id = data.job_id;

              poll_for_model(job_id);

            }
          })
        });

        var poll_for_model = function(job_id) {
          $.getJSON("/get_job?job_id="+job_id, function(data) {
            if (data.status == "success") {

              $(".model_link_a").html(data.result.model_url);
              $(".model_link_a").attr("href", data.result.model_url);
              $("#model_link").show();
              $("#model_loading").hide();

            } else if (data.status == "failed") {
              $("#model_loading").hide();
              alert("There was an error creating your model. Please try again later!");
            } else {
              setTimeout(function() {
                poll_for_model(job_id)
              }, 5000);
            }
          });
        }


    {% endif %}

  });

</script>

{% if config['GOOGLE_ANALYTICS_ACCOUNT'] %}
{{google.analytics(account=config['GOOGLE_ANALYTICS_ACCOUNT'])}}
{% endif %}

{% endblock %}